.product-offer-div {
  @apply w-[100%] mb-4 cursor-pointer !important;
}

.product-offer-div .ant-card {
  @apply border-0 border-b border-[#E5E5E5] !important;
}

.product-offer-div .ant-card-body {
  @apply flex w-[100%] !important;
}

.product-offer-div .ant-card-body .ant-card-meta {
  @apply grow-0;
}

.product-offer-div .ant-card-body .ant-card-meta .ant-avatar-image {
  @apply rounded-xl h-12 w-12 !important;
}

.product-offer-div .ant-card-body .product-offer-desc {
  @apply grow;
}

.product-offer-div .ant-card-body .product-offer-desc .top {
  @apply flex justify-between text-[10px];
}

.product-offer-div .ant-card-body .product-offer-desc .middle {
  @apply flex flex-col antialiased;
}

.product-offer-div .ant-card-body .product-offer-desc .bottom {
  @apply flex justify-end gap-4 mt-3;
}

.product-offer-div .ant-card-body .product-offer-desc .bottom .button-offer {
  @apply rounded-full text-sm font-medium py-2 px-6 min-w-[158px] !important;
}

/*# sourceMappingURL=style.css.map */

.product-offer-div .middle .ant-typography {
  @apply antialiased text-sm font-normal !important;
}
