.logged-icon-wrapper {
  @apply block md:inline-flex gap-4;
}
.logged-icon-link {
  @apply text-[#151515] block pb-4 md:pb-0;
}

.logged-icon-link svg {
  @apply hidden md:block;
}

.logged-icon-link-text {
  @apply block md:hidden;
}

.logged-icon-link-active {
  @apply text-purple-800;
}
